body {
    background-color: cadetblue;
    overflow: hidden;
}
#container {
    width: 98%;
    height: 90vh;
    padding-bottom: 5vh;
    margin: 3vh auto;
    text-align: center;
    color: #fff;
}
h1 {
    font-size: 160%;
    margin: 0;
}
h4 {
    margin: 0
}
.cell {
    stroke-width: 0;
    stroke: black;
}
.cell:hover {
    stroke-width: 1;
}
div.tooltip {
    position: absolute;
    background-color: steelblue;
    color: #fff;
    padding: 10px;
    border: 0px;
    border-radius: 15px;
    pointer-events: none;
}