body {
    background-color: cadetblue;
    overflow: hidden;
}
#container {
    width: 98%;
    height: 90vh;
    padding-bottom: 5vh;
    margin: 3vh auto;
    text-align: center;
    color: #fff;
}
.cell {
    stroke-width: 0;
    stroke: black;
}
.cell:hover {
    stroke-width: 1;
}