body {
    background-color: cadetblue;
    overflow: hidden;
}
#container {
    width: 80%;
    height: 90vh;
    padding-bottom: 5vh;
    padding-left: 5%;
    margin: 3vh auto;
    text-align: center;
    color: #fff;
    background-color: darkviolet;
}